
/* select all <div> node */
div
{
    position: fixed;
}

body {
    margin : 0;
    padding: 0;
    
    overflow: hidden;
}

img {
    width : 100%;

}

.center {
    width : 1920px;
    height : 242px;
    
    
    top:50%; 
    left:62.5%;
    
    margin-left : -37.5%;
    margin-top : 12%;
}
